<template>
  <ul>
    <li v-for="(route, index) in routes" :key="index">
      <router-link :to="{ name: route.name }">{{ route.title }}</router-link>
    </li>
  </ul>
</template>

<script>
import { routes } from '../router'
export default {
  props: {
    filter: {
      type: String,
      default: 'all'
    }
  },
  data(){
    return {
      routes: routes.filter(route => route[this.filter] === true)
    }
  }
}
</script>