<template>
  <div>
    <router-link :to="{ name: 'home' }">
      Logo
    </router-link>
    <menu-list filter="navbar"/>
  </div>
</template>

<script>
import MenuList from '../components/MenuList.vue'
export default {
  components: { MenuList }
}
</script>
